<nav class="navbar navbar-expand-lg navbar-light verde3">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://avatars.githubusercontent.com/u/87830480?v=4" alt="" width="50px" height="50px"
                    class="img-fluid rounded-circle">
            </li>

            <form class="form-inline my-2 my-lg-0 ml-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn verde1 my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Início</p>
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Publicações</p>
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Eventos</p>
            </li>


            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Notícias</p>
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Sobre nós</p>
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Contato</p>
            </li>

            <li class="nav-item pl-3">
                <a href="">
                    <p class="text-white fs-16 m-0">
                        <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                    </p>
                </a>
            </li>

        </ul>


        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out"
                        aria-hidden="true"></i></a>
            </li>

        </ul>
        
    </div>
</nav>