.marrom1{
    background-color: #be6731;
}

.marrom2{
    background-color: #b55219;
}

.marrom3{
    background-color: #8d2a00;
}

.verde1{
    background-color: #76704c;
}

.verde2{
    background-color: #545e46;
}

.verde3{
    background-color: #1f2d16;
}